<div
  *ngIf="weatherResponse && astronomyResponse"
  class="min-h-screen bg-cover bg-center"
  [style.backgroundImage]="'url(' + getBackgroundImagePath() + ')'"
>
  <div class="pt-2 px-5">
    <div
      class="flex flex-col bg-white bg-opacity-50 items-center rounded-md shadow-md text-xl p-4"
    >
      <div class="flex items-center justify-between w-full">
        <app-weather-search
          [location]="location"
          (searchLocation)="onSearchLocation($event)"
        ></app-weather-search>

        <app-language-switcher
          (languageChanged)="switchLanguage($event)"
        ></app-language-switcher>
      </div>

      <h2 class="text-2xl font-bold text-center mb-4">
        {{ weatherResponse.location.name }},
        {{ weatherResponse.location.region }}
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full">
        <app-current-weather-summary [currentWeather]="weatherResponse.current">
        </app-current-weather-summary>

        <app-forecast-summary [forecast]="todayForecast">
        </app-forecast-summary>
      </div>

      <div class="w-full max-w-4xl mx-auto">
        <app-hourly-forecast [hourlyWeather]="getHours()"></app-hourly-forecast>
      </div>

      <div class="mt-4 bg-white bg-opacity-50 rounded-md p-4 shadow w-full">
        <app-weather-graph [hourlyWeather]="getHours()"></app-weather-graph>
      </div>
    </div>
  </div>
</div>
