<h3 class="text-xl font-semibold mb-2 text-center">
  {{ "weather.current.title" | translate }}
</h3>

<div class="flex items-center justify-between">
  <div>
    <p class="text-4xl font-bold">{{ currentWeather.temp_c }} °C</p>
    <p class="text-md">
      {{ currentWeather.condition.text }}
    </p>
  </div>

  <img
    src="{{ currentWeather.condition.icon }}"
    class="w-[100px] h-[100px]"
    alt="icon"
  />
</div>

<div class="grid grid-cols-2 sm:grid-cols-3 gap-3 mt-4">
  <div class="bg-white bg-opacity-70 rounded-md p-3 text-center shadow-sm">
    <p class="text-sm text-gray-600">
      {{ "weather.current.feels_like" | translate }}
    </p>
    <p class="text-xl font-semibold">{{ currentWeather.feelslike_c }} °C</p>
  </div>

  <div class="bg-white bg-opacity-70 rounded-md p-3 text-center shadow-sm">
    <p class="text-sm text-gray-600">
      {{ "weather.current.humidity" | translate }}
    </p>
    <p class="text-xl font-semibold">{{ currentWeather.humidity }}%</p>
  </div>

  <div class="bg-white bg-opacity-70 rounded-md p-3 text-center shadow-sm">
    <p class="text-sm text-gray-600">
      {{ "weather.current.wind" | translate }}
    </p>
    <p class="text-xl font-semibold">
      {{ currentWeather.wind_kph }} {{ "units.wind_speed" | translate }}
    </p>
  </div>

  <div class="bg-white bg-opacity-70 rounded-md p-3 text-center shadow-sm">
    <p class="text-sm text-gray-600">
      {{ "weather.current.pressure" | translate }}
    </p>
    <p class="text-xl font-semibold">
      {{ currentWeather.pressure_mb }} {{ "units.pressure" | translate }}
    </p>
  </div>

  <div class="bg-white bg-opacity-70 rounded-md p-3 text-center shadow-sm">
    <p class="text-sm text-gray-600">
      {{ "weather.current.uv_index" | translate }}
    </p>
    <p class="text-xl font-semibold">
      {{ currentWeather.uv }}
    </p>
  </div>

  <div class="bg-white bg-opacity-70 rounded-md p-3 text-center shadow-sm">
    <p class="text-sm text-gray-600">
      {{ "weather.current.last_updated" | translate }}
    </p>
    <p class="text-sm text-gray-500">
      {{ currentWeather.last_updated }}
    </p>
  </div>
</div>
